/* colors:
light grey - #d9d9d9
dark blue - #0000cc
red - #FF0000
yellow - #FAFF06
green - #A1C001
*/

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

body {
    background-image: url(images/greenrug-web.jpg);
    width: 100%;
    height: 100%;
    margin: 0;
}

.header {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
}

.image-container {
    margin-top: -40px;
    position: relative;
    display: flex;
    justify-content: center;
}

.enter-container {
    display: flex;
    justify-content: center;
}

.enter a {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 50px;
    color: #0000cc;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-shadow: 3px 3px #FAFF06;
    transform: scale (1.1)
}