/* colors:
light grey - #d9d9d9
dark blue - #0000cc
red - #FF0000
yellow - #FAFF06
green - #A1C001
*/

/* command shift r for neocities */

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

body {
    /* font-family: "times new roman pixelated"; */
    background-image: url(images/shaggy-green-rug.jpeg);
    width: 100%;
    height: 1500px;
    margin: 0;
}

 .element {
     z-index: 1000;
 }

.bar {
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #0000cc;
    color: #FAFF06;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.bar_content {
    display: block;
    width: 100%;
    transform: translateX(100%);
    animation: move 30s linear infinite;
    animation-delay: -30s;
}

.header {
    margin-top: 30px;
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContainer {
    width: 167px;
    max-height: 180px;
    margin-bottom: 10px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    background-color: #D9D9D9;
    border: 1.5px solid black;
}

.title {
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    background-color: #0000CC;
    color: white;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li {
    font-size: 12px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-top: 1.5px solid black;
    /* transition: all .2s ease-in-out; */
}

.navigation a {
    text-decoration: none;
    color: black;
    display: block;
}

.navigation li:hover {
    transform: scale(1.01);
    transform-origin: 540% -1960%;
    box-shadow: 8px -7px black;
    border: 1.5px solid black;
}

.navigation li:nth-child(1) {
    background-color: #FAFF06;
}

.navigation li:nth-child(1):hover {
    background-color: #FAFF06;
}

.navigation li:nth-child(2):hover {
    background-color: #FF0000;
}

.navigation li:nth-child(3):hover {
    background-color: #0000cc;
}

.navigation li:nth-child(3) a:hover {
    color: white;
}

.logo {
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: auto;
    height: 100%;
    padding: 20px;
}

.logosmall {
    display: none;
}

.patch1 {
    display: block;
    position: absolute;
    right: -200px;
    bottom: 0;
    margin-right: 30px;
    height: 470px;
    width: 468px;
}

.flex-home {
    display: flex;
    position: relative;
}

.flex-home article {
    margin-top: 50px;
    margin-left: 180px;
    margin-right: 40px;
}

.sticker-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.sticker-title {
    width: 150px;
    height: 35px;
    background: #0000CC;
    color: white;
    border: solid 1.5px black;
    text-align: center;
    padding: 8px;
    font-size: 13px;
    font-weight: bold;
}

.sticker {
    z-index: 100000;
}

#sticker1 {
    position: absolute;
    top: 500px;
    left: 100px;
}

#sticker2 {
    position: absolute;
    top: 480px;
    left: 250px;
}

#sticker3 {
    position: absolute;
    top: 630px;
    left: 230px;
}

#sticker4 {
    position: absolute;
    top: 680px;
    left: 150px;
}

#sticker5 {
    position: absolute;
    top: 750px;
    left: 250px;
}

#sticker6 {
   position: absolute;
    top: 820px;
    left: 150px;
}

.backPattern {
    z-index: 3;
    background-image: url(images/plaid-background-new.png);
    display: flex;
    width: 50%;
    height: auto;
    position: relative;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}

#photoArray>div {
    border: 1.5px solid #FF0000;
    background-color: #EAEAEA;
    text-align: center;
    transition: all .2s ease-in-out;
}

#photoArray>div:hover {
    transform: scale(1.1);
}



/* #photoArray:hover {
    transform: scale(1.2);
} */

#photoArray {
    z-index: 3;
    display: grid;
    justify-content: center;
    align-content: space-evenly;
    margin: 65px;
    margin-top: 50px;
    grid-gap: 1.5em;
    grid-template-columns:
        1fr 1fr 1fr 1fr;
}

.hand {
    width: 550px;
    height: auto;
    margin: 10px;
    position: fixed;
    left: 70%;
    z-index: 4;
}

.hand img {
    object-fit: contain;
}

.arrows {
    /* border: 1px solid blueviolet; */
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    text-align:center;
    justify-content:center;
    padding: 10px;
}

.arrowleft {
    width: 15%;
    padding: 20px;
}

.arrowright {
    width: 15%;
    padding: 20px;
}

@keyframes move {
    to {
        transform: translateX(-100%);
    }
}

/* small screen */
@media only screen and (max-width: 720px) {
    .patch1 {
       display: none;
    }
    .logosmall {
        margin-top: 50px;
        display: block;
        position: fixed;
        z-index: 10000;
    }
    .flex-home {
        flex-direction: column-reverse;
    }
        .navContainer {
            width: 100%;
            position: fixed;
            top: 0;
            z-index: 5;
            height: 45px;
            margin-top: 0;
            margin-bottom: 10px;
            display: flex;
            flex-direction: row;
            background-color: #D9D9D9;
            border: 2px solid black;
        }
    
        .navigation {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    
        .navigation li {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: lighter;
            text-align: center;
            border-right: 2px solid black;
            border-top: none;
        }
    
        .navigation a {
            color: black;
            padding: 5px;
        }
    
        .navigation li:last-child {
            border-right: none;
        }
    
        .navigation li:hover {
            background-color: #f0f0f0;
        }

    .flex-home article {
        margin: 0;
        top: 0;
    }
    .backPattern {
        width: 85%;
        margin-left: 38px;
        background-image: none;
    }
    #photoArray {
        grid-template-columns: 1fr 1fr;
        margin: 20px;
    }
    #photoArray>div {
        border: 3px solid #da0062;
    }

    /* #photoArray>div {
        transform: none;
    } */

    .logo, .title, .hand, .bar, .sticker-container {
        display: none;
    }
    /* #cid0020000360393934216 {
        display: none; */
}

/* mid screen */
@media only screen and (max-width: 1100px) and (min-width: 721px)
    {
    .logo {
        width: 80%;
    }
    .patch1 {
            display: none;
        }
    .hand {
            display: none;
        }
    .flex-home article {
            margin-top: 50px;
            margin-right: 10px;
    }
    .arrows {
        padding: 5px;
    }
    .arrowleft, .arrowright {
        padding: 15px;
    }
    #photoArray {
        margin: 45px;
        margin-top: 40px;
        grid-gap: 1em;
    }
}