* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(images/shaggy-green-rug.jpeg);
    width: 100%;
    height: 1500;
    margin: 0;
    position: fixed;
}

header {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
}



.submit-here {
    width: 100%;
    height: auto;
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    padding-bottom: 30px;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

.navContainer {
    width: 40%;
    position: fixed;
    top: 0;
    z-index: 5;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
    border: 1.5px solid black;
}

.navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.navigation li {
    flex: 1;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    border-right: 1.5px solid black;
}

.navigation li:last-child {
    background-color: #FAFF06;
    border-right: none;
}

.navigation li:hover {}

.navigation a {
    margin: 30px;
    text-decoration: none;
    color: black
}

.container {
    background-image: url(images/plaid-background-submit.png);
    width: 700px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}

button {
    width: 150px;
    height: 35px;
    font-size: 16px;
    margin-left: 260px;
    font-style: italic;
    background: #0000cc;
    color: white;
}

.form-group {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.form-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea {
    width: 300px;
    height: 80px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #0000cc;
}

input {
    font-size: 15px;
}

input.form-control {
    font-size: 15px;
}

.col {
    padding: 1px;
}

.titleandborder {
    display: inline-flex;
    width: 100%;
}

.right-stars, .left-stars {
    width: 38%;
    margin: auto;
    margin-top: 96px;
}

h1 {
    margin: auto;
    padding-top: 8px;
}

.title-box {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.title {
    width: 220px;
    height: 45px;
    background: #FAFF06;
    font-weight: 400;
    border: solid 1.5px black;
    text-align: center;
    justify-content: center;
    font-size: 10px;
}

.backPattern {
    z-index: 3;
    display: flex;
    width: 70%;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}

#photoArray>div {
    border: 1.5px solid #da0062;
    background-color: #EAEAEA;
    vertical-align: middle;
    font-size: 0px;
}

#photoArray {
    z-index: 3;
    display: grid;
    justify-content: center;
    align-content: space-evenly;
    margin-top: 20px;
    grid-gap: 3em;
    grid-template-columns:
        1fr 1fr 1fr;
}


footer {
    height: 200px;
}